<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Movies Playlists App</a>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'playlists' %}">Playlists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'trending' %}">Trending</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-1 col-md-2 col-3">
        <a href="{% url 'logout' %}" class="btn btn-block btn-info">logout</a>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>