<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Movies Playlists App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    </div>

    <div class="col-lg-1 col-md-2 col-3">
        <a href="{% url 'login' %}" class="btn btn-block btn-outline-info">Login</a>
    </div>
    <div class="col-lg-1 col-md-2 col-3">
        <a href="{% url 'register' %}" class="btn btn-block btn-outline-info">Register</a>
    </div>
</nav>