{% extends 'main/generic.html' %}

{% block content %}
<div class="row my-3">
    <div class="col-md-4">
        <div class="card card-body">
            <a href="{% url 'trending' %}" class="btn btn-warning">Go back</a>
            <hr />
            <img width="50%" src="/images/{{request.user.profil.avatar_img}}" class="img-fluid mx-auto" />
            <hr />
            <h5 class="card-title text-center">Profil</h5>
        </div>
        
    </div>
    <div class="col-md-8">
        <div class="card card-body">
            <h4 class="card-title text-center">Settings</h4>
            <hr>
            <form method="POST" action="" enctype="multipart/form-data" >
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    
                    <label for='id_{{field.name}}'>{{ field.label }}</label>
                    {{ field }}
                    
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="save" />
            </form>
        </div>
    </div>
</div>

<script>
    const inputs = document.querySelectorAll('input')

    inputs.forEach(input => {
        if(input.type === 'email' || input.type === 'text') {
            input.classList.add('form-control')
        }
    })

</script>
{% endblock %}